/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.container{
    /* overflow: hidden; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

.header{
    background-color: rgba(0, 0, 255, 0.512);
    color:white;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
}

.input-field{
    padding: 5px 0px 5px 7px;
     border: 1px solid #dddddd; 
}

.error{
    color:red;
   position: absolute;
    /* width: 150px ;
    word-wrap: break-word; */
    padding-top: 4px;
}

